# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule EstuaryAPI.Api.Admin do
  @moduledoc """
  API calls for all endpoints tagged `Admin`.
  """

  alias EstuaryAPI.Connection
  import EstuaryAPI.RequestBuilder


  @doc """
  Remove peers on Peering Service
  This endpoint can be used to remove a Peer from the Peering Service

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - peer_ids ([boolean()]): Peer ids
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec admin_peering_peers_delete(Tesla.Env.client, list(Boolean.t), keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def admin_peering_peers_delete(connection, peer_ids, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/admin/peering/peers")
    |> add_param(:body, :"peerIds", peer_ids)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  List all Peering peers
  This endpoint can be used to list all peers on Peering Service

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec admin_peering_peers_get(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def admin_peering_peers_get(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/admin/peering/peers")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Add peers on Peering Service
  This endpoint can be used to add a Peer from the Peering Service

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec admin_peering_peers_post(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def admin_peering_peers_post(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/admin/peering/peers")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Start Peering
  This endpoint can be used to start the Peering Service

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec admin_peering_start_post(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def admin_peering_start_post(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/admin/peering/start")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Check Peering Status
  This endpoint can be used to check the Peering status

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec admin_peering_status_get(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def admin_peering_status_get(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/admin/peering/status")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Stop Peering
  This endpoint can be used to stop the Peering Service

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec admin_peering_stop_post(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def admin_peering_stop_post(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/admin/peering/stop")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Get systems(estuary/shuttle) config
  This endpoint is used to get system configs.

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec admin_system_config_get(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def admin_system_config_get(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/admin/system/config")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Get all users
  This endpoint is used to get all users.

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec admin_users_get(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def admin_users_get(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/admin/users")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end
end
