# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule EstuaryAPI.Api.User do
  @moduledoc """
  API calls for all endpoints tagged `User`.
  """

  alias EstuaryAPI.Connection
  import EstuaryAPI.RequestBuilder


  @doc """
  Get API keys for a user
  This endpoint is used to get API keys for a user. In estuary, each user can be given multiple API keys (tokens). This endpoint can be used to retrieve all available API keys for a given user.

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, [%List{}, ...]} on success
  {:error, info} on failure
  """
  @spec user_api_keys_get(Tesla.Env.client, keyword()) :: {:ok, list(List.t)} | {:error, Tesla.Env.t}
  def user_api_keys_get(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/user/api-keys")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode([%EstuaryAPI.Model.List{}])
  end

  @doc """
  Revoke a User API Key.
  This endpoint is used to revoke a user API key. In estuary, every user is assigned with an API key, this API key is generated and issued for each user and is primarily used to access all estuary features. This endpoint can be used to revoke the API key that&#39;s assigned to the user. Revoked API keys are completely deleted and are not recoverable.

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - key_or_hash (String.t): Key or Hash
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec user_api_keys_key_or_hash_delete(Tesla.Env.client, String.t, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def user_api_keys_key_or_hash_delete(connection, key_or_hash, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/user/api-keys/#{key_or_hash}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Create API keys for a user
  This endpoint is used to create API keys for a user. In estuary, each user is given an API key to access all features.

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :expiry (String.t): Expiration - Expiration - Valid time units are ns, us (or µs),  ms,  s,  m,  h.  for  example  300h
    - :perms (String.t): Permissions -- currently unused

  ## Returns

  {:ok, %EstuaryAPI.Model.MainGetApiKeysResp{}} on success
  {:error, info} on failure
  """
  @spec user_api_keys_post(Tesla.Env.client, keyword()) :: {:ok, EstuaryAPI.Model.MainGetApiKeysResp.t} | {:error, Tesla.Env.t}
  def user_api_keys_post(connection, opts \\ []) do
    optional_params = %{
      :"expiry" => :query,
      :"perms" => :query
    }
    %{}
    |> method(:post)
    |> url("/user/api-keys")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%EstuaryAPI.Model.MainGetApiKeysResp{})
  end

  @doc """
  Export user data
  This endpoint is used to get API keys for a user.

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec user_export_get(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def user_export_get(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/user/export")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Create API keys for a user
  This endpoint is used to create API keys for a user.

  ## Parameters

  - connection (EstuaryAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %EstuaryAPI.Model.String.t{}} on success
  {:error, info} on failure
  """
  @spec user_stats_get(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def user_stats_get(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/user/stats")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end
end
