=begin
#Estuary API

#This is the API for the Estuary application.

OpenAPI spec version: 0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.28

=end

require 'uri'

module SwaggerClient
  class MinerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all miners deals
    # This endpoint returns all miners deals
    # @param miner Filter by miner
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ignore_failed Ignore Failed
    # @return [String]
    def public_miners_deals_miner_get(miner, opts = {})
      data, _status_code, _headers = public_miners_deals_miner_get_with_http_info(miner, opts)
      data
    end

    # Get all miners deals
    # This endpoint returns all miners deals
    # @param miner Filter by miner
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ignore_failed Ignore Failed
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def public_miners_deals_miner_get_with_http_info(miner, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MinerApi.public_miners_deals_miner_get ...'
      end
      # verify the required parameter 'miner' is set
      if @api_client.config.client_side_validation && miner.nil?
        fail ArgumentError, "Missing the required parameter 'miner' when calling MinerApi.public_miners_deals_miner_get"
      end
      # resource path
      local_var_path = '/public/miners/deals/{miner}'.sub('{' + 'miner' + '}', miner.to_s)

      # query parameters
      query_params = {}
      query_params[:'ignore-failed'] = opts[:'ignore_failed'] if !opts[:'ignore_failed'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MinerApi#public_miners_deals_miner_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get miner stats
    # This endpoint returns miner stats
    # @param miner Filter by miner
    # @param [Hash] opts the optional parameters
    # @return [String]
    def public_miners_stats_miner_get(miner, opts = {})
      data, _status_code, _headers = public_miners_stats_miner_get_with_http_info(miner, opts)
      data
    end

    # Get miner stats
    # This endpoint returns miner stats
    # @param miner Filter by miner
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def public_miners_stats_miner_get_with_http_info(miner, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MinerApi.public_miners_stats_miner_get ...'
      end
      # verify the required parameter 'miner' is set
      if @api_client.config.client_side_validation && miner.nil?
        fail ArgumentError, "Missing the required parameter 'miner' when calling MinerApi.public_miners_stats_miner_get"
      end
      # resource path
      local_var_path = '/public/miners/stats/{miner}'.sub('{' + 'miner' + '}', miner.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MinerApi#public_miners_stats_miner_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
