/**
 * Estuary API
 * This is the API for the Estuary application.
 *
 * OpenAPI spec version: 0.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import java.io.File
import io.swagger.client.model.MainImportDealBody
import io.swagger.client.model.UtilContentAddIpfsBody
import io.swagger.client.model.UtilContentAddResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ContentApi {

  /**
   * This endpoint is used to add a car object to the network. The object can be a file or a directory.
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param body Car
   * @param filename Filename
   * @param commp Commp
   * @param size Size
   */
  def contentAddCarPost(body: String, filename: Option[String] = None, commp: Option[String] = None, size: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://api.estuary.tech", "/content/add-car", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withBody(body)
      .withQueryParam("filename", filename)
      .withQueryParam("commp", commp)
      .withQueryParam("size", size)
        /**
   * This endpoint is used to add an IPFS object to the network. The object can be a file or a directory.
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param body IPFS Body
   */
  def contentAddIpfsPost(body: UtilContentAddIpfsBody)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://api.estuary.tech", "/content/add-ipfs", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withBody(body)
        /**
   * This endpoint is used to upload new content.
   * 
   * Expected answers:
   *   code 200 : UtilContentAddResponse (OK)
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param file File to upload
   * @param coluuid Collection UUID
   * @param dir Directory
   */
  def contentAddPost(file: File, coluuid: String, dir: String)(implicit apiKey: ApiKeyValue): ApiRequest[UtilContentAddResponse] =
    ApiRequest[UtilContentAddResponse](ApiMethods.POST, "https://api.estuary.tech", "/content/add", "multipart/form-data")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withFormParam("file", file)
      .withPathParam("coluuid", coluuid)
      .withPathParam("dir", dir)
      .withSuccessResponse[UtilContentAddResponse](200)
        /**
   * This endpoint returns aggregated content stats
   * 
   * Expected answers:
   *   code 200 : String (OK)
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param content Content ID
   */
  def contentAggregatedContentGet(content: String)(implicit apiKey: ApiKeyValue): ApiRequest[String] =
    ApiRequest[String](ApiMethods.GET, "https://api.estuary.tech", "/content/aggregated/{content}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("content", content)
      .withSuccessResponse[String](200)
        /**
   * This endpoint is used to get all deals for a user
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param begin Begin
   * @param duration Duration
   * @param all All
   */
  def contentAllDealsGet(begin: String, duration: String, all: String)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.estuary.tech", "/content/all-deals", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withQueryParam("begin", begin)
      .withQueryParam("duration", duration)
      .withQueryParam("all", all)
        /**
   * This endpoint returns content bandwidth
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param content Content ID
   */
  def contentBwUsageContentGet(content: String)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.estuary.tech", "/content/bw-usage/{content}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("content", content)
        /**
   * This endpoint adds a new content
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param body Content
   */
  def contentCreatePost(body: String)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://api.estuary.tech", "/content/create", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withBody(body)
        /**
   * This endpoint lists all content with deals
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param limit Limit
   * @param offset Offset
   */
  def contentDealsGet(limit: Option[Int] = None, offset: Option[Int] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.estuary.tech", "/content/deals", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
        /**
   * This endpoint ensures that the content is replicated to the specified number of providers
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param datacid Data CID
   */
  def contentEnsureReplicationDatacidGet(datacid: String)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.estuary.tech", "/content/ensure-replication/{datacid}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("datacid", datacid)
        /**
   * This endpoint returns all failures for a content
   * 
   * Expected answers:
   *   code 200 : String (OK)
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param content Content ID
   */
  def contentFailuresContentGet(content: String)(implicit apiKey: ApiKeyValue): ApiRequest[String] =
    ApiRequest[String](ApiMethods.GET, "https://api.estuary.tech", "/content/failures/{content}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("content", content)
      .withSuccessResponse[String](200)
        /**
   * This endpoint imports a deal into the shuttle.
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param body Import a deal
   */
  def contentImportdealPost(body: MainImportDealBody)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://api.estuary.tech", "/content/importdeal", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withBody(body)
        /**
   * This endpoint lists all content
   * 
   * Expected answers:
   *   code 200 : Seq[String] (OK)
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   */
  def contentListGet()(implicit apiKey: ApiKeyValue): ApiRequest[Seq[String]] =
    ApiRequest[Seq[String]](ApiMethods.GET, "https://api.estuary.tech", "/content/list", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withSuccessResponse[Seq[String]](200)
        /**
   * This endpoint reads content from the blockstore
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param cont CID
   */
  def contentReadContGet(cont: String)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.estuary.tech", "/content/read/{cont}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("cont", cont)
        /**
   * This endpoint is used to get staging zone for user.
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   */
  def contentStagingZonesGet()(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.estuary.tech", "/content/staging-zones", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
        /**
   * This endpoint is used to get content statistics. Every content stored in the network (estuary) is tracked by a unique ID which can be used to get information about the content. This endpoint will allow the consumer to get the collected stats of a conten
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param limit limit
   */
  def contentStatsGet(limit: String)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.estuary.tech", "/content/stats", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("limit", limit)
        /**
   * This endpoint returns the status of a content
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param id Content ID
   */
  def contentStatusIdGet(id: Int)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.estuary.tech", "/content/status/{id}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("id", id)
      

}

