/**
 * Estuary API
 * This is the API for the Estuary application.
 *
 * OpenAPI spec version: 0.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object MinerApi {

  /**
   * This endpoint returns all miners deals
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param miner Filter by miner
   * @param ignoreFailed Ignore Failed
   */
  def publicMinersDealsMinerGet(miner: String, ignoreFailed: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.estuary.tech", "/public/miners/deals/{miner}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withQueryParam("ignore-failed", ignoreFailed)
      .withPathParam("miner", miner)
        /**
   * This endpoint returns miner stats
   * 
   * Expected answers:
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param miner Filter by miner
   */
  def publicMinersStatsMinerGet(miner: String)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.estuary.tech", "/public/miners/stats/{miner}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("miner", miner)
      

}

