/**
 * Estuary API
 * This is the API for the Estuary application.
 *
 * OpenAPI spec version: 0.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.MainGetApiKeysResp
import io.swagger.client.model.UtilHttpError
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object UserApi {

  /**
   * This endpoint is used to get API keys for a user. In estuary, each user can be given multiple API keys (tokens). This endpoint can be used to retrieve all available API keys for a given user.
   * 
   * Expected answers:
   *   code 200 : Seq[Seq[MainGetApiKeysResp]] (OK)
   *   code 400 : UtilHttpError (Bad Request)
   *   code 404 : UtilHttpError (Not Found)
   *   code 500 : UtilHttpError (Internal Server Error)
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   */
  def userApiKeysGet()(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Seq[MainGetApiKeysResp]]] =
    ApiRequest[Seq[Seq[MainGetApiKeysResp]]](ApiMethods.GET, "https://api.estuary.tech", "/user/api-keys", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withSuccessResponse[Seq[Seq[MainGetApiKeysResp]]](200)
      .withErrorResponse[UtilHttpError](400)
      .withErrorResponse[UtilHttpError](404)
      .withErrorResponse[UtilHttpError](500)
        /**
   * This endpoint is used to revoke a user API key. In estuary, every user is assigned with an API key, this API key is generated and issued for each user and is primarily used to access all estuary features. This endpoint can be used to revoke the API key that&#39;s assigned to the user. Revoked API keys are completely deleted and are not recoverable.
   * 
   * Expected answers:
   *   code 200 : String (OK)
   *   code 400 : UtilHttpError (Bad Request)
   *   code 500 : UtilHttpError (Internal Server Error)
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param keyOrHash Key or Hash
   */
  def userApiKeysKeyOrHashDelete(keyOrHash: String)(implicit apiKey: ApiKeyValue): ApiRequest[String] =
    ApiRequest[String](ApiMethods.DELETE, "https://api.estuary.tech", "/user/api-keys/{key_or_hash}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("key_or_hash", keyOrHash)
      .withSuccessResponse[String](200)
      .withErrorResponse[UtilHttpError](400)
      .withErrorResponse[UtilHttpError](500)
        /**
   * This endpoint is used to create API keys for a user. In estuary, each user is given an API key to access all features.
   * 
   * Expected answers:
   *   code 200 : MainGetApiKeysResp (OK)
   *   code 400 : UtilHttpError (Bad Request)
   *   code 404 : UtilHttpError (Not Found)
   *   code 500 : UtilHttpError (Internal Server Error)
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   * 
   * @param expiry Expiration - Expiration - Valid time units are ns, us (or µs),  ms,  s,  m,  h.  for  example  300h
   * @param perms Permissions -- currently unused
   */
  def userApiKeysPost(expiry: Option[String] = None, perms: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[MainGetApiKeysResp] =
    ApiRequest[MainGetApiKeysResp](ApiMethods.POST, "https://api.estuary.tech", "/user/api-keys", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withQueryParam("expiry", expiry)
      .withQueryParam("perms", perms)
      .withSuccessResponse[MainGetApiKeysResp](200)
      .withErrorResponse[UtilHttpError](400)
      .withErrorResponse[UtilHttpError](404)
      .withErrorResponse[UtilHttpError](500)
        /**
   * This endpoint is used to get API keys for a user.
   * 
   * Expected answers:
   *   code 200 : String (OK)
   *   code 400 : UtilHttpError (Bad Request)
   *   code 500 : UtilHttpError (Internal Server Error)
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   */
  def userExportGet()(implicit apiKey: ApiKeyValue): ApiRequest[String] =
    ApiRequest[String](ApiMethods.GET, "https://api.estuary.tech", "/user/export", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withSuccessResponse[String](200)
      .withErrorResponse[UtilHttpError](400)
      .withErrorResponse[UtilHttpError](500)
        /**
   * This endpoint is used to create API keys for a user.
   * 
   * Expected answers:
   *   code 200 : String (OK)
   *   code 400 : UtilHttpError (Bad Request)
   *   code 500 : UtilHttpError (Internal Server Error)
   * 
   * Available security schemes:
   *   bearerAuth (apiKey)
   */
  def userStatsGet()(implicit apiKey: ApiKeyValue): ApiRequest[String] =
    ApiRequest[String](ApiMethods.GET, "https://api.estuary.tech", "/user/stats", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withSuccessResponse[String](200)
      .withErrorResponse[UtilHttpError](400)
      .withErrorResponse[UtilHttpError](500)
      

}

