/**
 * NOTE: This class is auto generated by the swagger code generator program (3.0.36).
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */
package io.swagger.api;

import io.swagger.model.UtilHttpError;
import com.fasterxml.jackson.databind.ObjectMapper;
import io.micronaut.http.*;
import io.micronaut.http.annotation.*;
import io.reactivex.Single;
import io.swagger.v3.oas.annotations.*;
import io.swagger.v3.oas.annotations.responses.*;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import javax.annotation.Nullable;
import javax.validation.Valid;
import javax.validation.constraints.*;
import java.io.IOException;
import java.util.List;
import java.util.Map;
import java.util.Optional;

@javax.annotation.Generated(value = "io.swagger.codegen.v3.generators.java.MicronautCodegen", date = "2022-11-23T18:54:26.029Z[GMT]")
@Controller
public interface GetApi {


    @Operation(summary = "Get Full Content by Cid", operationId = "getCidGet", description = "This endpoint returns the content associated with a CID" , tags = {"public"})
    @ApiResponse(responseCode = "307", description = "Temporary Redirect")
    @ApiResponse(responseCode = "400", description = "Bad Request")
    @ApiResponse(responseCode = "500", description = "Internal Server Error")
    @Get(value = "/get/{cid}", produces = { "application/json" })
    default Single<HttpResponse<Void>> getCidGet(@Parameter(description = "Cid") @PathVariable("cid") String cid
) {
        return Single.fromCallable(() -> {
            throw new UnsupportedOperationException();
        });
    }

}
